- if user_signed_in?
  .square(data-topic-id="#{topic.id}" onclick="upvoteClick(this)" data-active="#{topic.has_upvote_from(current_user.id)}")
    .triangle
    %span= topic.score
- else
  .square(href="#{new_user_session_path}" onclick="triggerModal(event, this)" aria-haspopup="true" data-target="signin-modal")
    .triangle
    %span= topic.score
