%article.article.container(data-topic-id="#{@topic.id}")
  .columns
    .column.is-6.is-offset-3

      %h1= @topic.title
      %section.meta
        .media
          .media-left
            = render 'upvote_button', topic: @topic
          .media-left
            .icon.has-text-grey-dark.is-large
              %i.icon-user.icon-3x
          .media-content
            %a.is-primary(href="#")= @topic.user.name
            %br
            =l @topic.created_at.to_date, format: :short
          - unless @topic.link.blank?
            .media-right
              %a.button.is-primary.is-family-secondary.is-wider(href="#{@topic.link}" target="_blank")
                Source
      - unless @topic.image.file.nil?
        %img.cover(src="#{@topic.image.url}")
      = simple_format @topic.body

      %section.comments
        .media
          .media-left
            .icon.has-text-grey-dark.is-large
              %i.icon-comment.icon-3x
          .media-content
            - if user_signed_in?
              = render 'comments/form', comment: Comment.new(topic: @topic)
            - else
              %a.button.is-fullwidth.is-primary.has-initial-transformation.is-large.modal-button(href="#{new_user_session_path}" aria-haspopup="true" data-target="signin-modal")
                Login to comment

        - @topic.comments.each do |comment|
          = render 'comments/show', comment: comment
