- set_meta_tags og: {title: 'GMing resources that `Wow´ your players', description: 'RPG resources from all over the interwebz. Signup for weekly summary', image: 'https://i.ibb.co/y5kfcQB/book.png', url: 'http://rpginspire.com'}
- set_meta_tags twitter: {title: 'GMing resources that `Wow´ your players', description: 'RPG resources from all over the interwebz. Signup for weekly summary', image: {src: 'https://i.ibb.co/y5kfcQB/book.png'}, url: 'http://rpginspire.com'}
- title 'GMing resources that `Wow´ your players'
- description 'RPG resources from all over the interwebz. Signup for weekly summary'

.container
  .columns
    .column.is-2.is-clipped
      - @tags.each do |group, tags|
        = group
        %br
        - tags.each do |tag|
          %a.is-rounded.tag.is-primary.is-outlined(href="#")= tag.title
          %br
    .column.is-10
      #infinite-content.masonry(data-next-page="#{@topics.next_page}" data-url="#{topics_path}")
        = render partial: 'topics/list', collection: @topics, as: :topic, cached: !user_signed_in?

