!!!
%html
  %head
    - if Rails.env.production?
      %script
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '#{Rails.application.secrets.ga}', 'auto');
        ga('send', 'pageview');
      %script(async=true src='https://www.google-analytics.com/analytics.js')

    %title Rpginspire
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %navbar.navbar.has-background-dark{role: "navigation", "aria-label" => "main navigation"}
      .container
        .navbar-brand
          %a.navbar-item(href=root_path)
            = image_tag 'logo.svg'
          .navbar-item
            %span.slogan.has-text-white.is-size-7
              Curated RPG resources
              %br
              that "WOW" your players
        .navbar-end
          .navbar-item
            %a.has-text-white.is-size-7.has-text-weight-bold(href="https://discordapp.com/invite/quv9gsM" target="_blank") Discord
          .navbar-item
            %a.has-text-white.is-size-7.has-text-weight-bold(href="https://twitter.com/rpg_inspire" target="_blank") Twitter
          .navbar-item
            %a.has-text-white.is-size-7.has-text-weight-bold(href="https://www.instagram.com/rpginspire/" target="_blank") Instagram
          .navbar-item
            .buttons
              %a.button.is-primary.is-wider.is-family-secondary(href="#{new_topic_path}")
                New post
    - unless notice.nil?
      .notification.is-primary= notice
    - unless alert.nil?
      .notification.is-warning= alert
    .section
      - unless user_signed_in? || controller_name == 'sessions'
        .modal.sign-in(id="signin-modal")
          .modal-background
          .modal-content
            .card.has-background-grey-lighter.column.is-8.is-offset-2
              .card-content
                = render 'devise/sessions/form'
          %button.modal-close.is-large{"aria-label" => "close"}
      = yield

    .modal#lazy-loaded-modal(data-is-lazy="true")
      .modal-background
      .modal-content.is-fullwidth
        .card.has-background-grey-lighter
          %button.modal-close.is-large{"aria-label" => "close"}
          .card-content#lazy-loaded-content
    = javascript_pack_tag 'application', async: true
    = yield :extra_js

