!!!
%html
  %head
    %title Rpginspire
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"}
  %body
    %navbar.navbar.has-background-dark{role: "navigation", "aria-label" => "main navigation"}
      .container
        .navbar-brand
          %a.navbar-item(href=root_path)
            = image_tag 'logo.svg'
          .navbar-item
            %span.slogan.has-text-white.is-size-7
              Curated RPG resources
              %br
              that "WOW" your players
        .navbar-end
          .navbar-item
            %a.has-text-white.is-size-7(href="https://discordapp.com/invite/quv9gsM" target="_blank") Discord
          .navbar-item
            %a.has-text-white.is-size-7(href="https://twitter.com/rpg_inspire" target="_blank") Twitter
          .navbar-item
            %a.has-text-white.is-size-7(href="https://www.instagram.com/rpginspire/" target="_blank") Instagram
          .navbar-item
            .buttons
              - if user_signed_in?
                %a.button.is-primary.is-wider(href="#{new_topic_path}")
                  New topic
              - else
                %a#signin-btn.button.is-primary.is-wider.modal-button(href="#{new_user_session_path}" aria-haspopup="true" data-target="signin-modal")
                  Sign in
    %p.notice= notice
    %p.alert= alert
    .section
      .modal.sign-in(id="signin-modal")
        .modal-background
        .modal-content
          .card.has-background-grey-lighter.column.is-8.is-offset-2
            .card-content
              = render 'devise/sessions/form'
        %button.modal-close.is-large{"aria-label" => "close"}
      = yield

  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %script{:src => "//kit.fontawesome.com/7d4290a2ba.js", crossorigin: "anonymous"}
  = yield :extra_js

